name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate snake SVG
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: AFTR05
          outputs: |
            dist/github-contribution-grid-snake.svg?palette=github-dark&color_snake=FF6FAE&color_dots=FFEFF7,FFD1E6,FFB6D5,FF9FC7,FF6FAE
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=FF6FAE&color_dots=FFEFF7,FFD1E6,FFB6D5,FF9FC7,FF6FAE

      - name: Push snake to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
